
table{

 float:left;
 
}

td{
	
	padding:5px;
	text-align: center;
	width: 20px;
	height: 20px;
	
}

#out{
	
	position: absolute;
	width: 80%;
	left:10%;
	padding:10px;
	background:#808080;
	
}

.stack{
	
	margin: 20px;
	
}

.pointer{
	
	color: yellow;
	
}