
table{

    display: inline-block;
 
}

td{
	
	padding:5px;
	text-align: center;
	width: 20px;
	height: 20px;
	
}

#out{
	
}

.interface{
	
	position: relative;
	
	margin-top:50px;
	
	width: 80%;
	left:10%;
	padding:10px;
	
	outline: 1px solid #ff0000;
	
}

.stack{
	
	margin: 20px;
	
}

.pointer{
	
	color: yellow;
	
}