
body{

    background: #000000;
    color: #ffffff;

}

table{

    display: inline-block;
    outline: 1px solid #000000;

}

td{

    padding:5px;
    text-align: center;
    width: 20px;
    height: 20px;
    color: #000000;

}

#out{

}

.interface{

    outline: 1px solid #ffffff;
    background: #808080;

}

.container{

    position: relative;
    margin-top:50px;
    width: 80%;
    left:10%;
    padding:10px;

}

.pointer{

    color: yellow;

}

.layer_contianer{
    
    position: relative;
    width: 250px;
    height: 250px;
    background: #ffffff;
    
}

.layer{
    
    position: absolute;
    width: 200px;
    height:200px;
    left:25px;
    top:25px;
    background: #000000;
}

.px{
	
	position: absolute;
	width: 5px;
	height: 5px;
	background: #ff0000;
}